:root{
    --bc-color: #FBF7EF;
    --gr-color: #086050;
}


body{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


li {
  cursor: pointer;
}
.parrent{
  margin-top: 11%;
}
.divcard {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  min-height: 200px;
  text-align: center;
}

.divcard div {
  background-color: white;
  padding: 30px;
  border: 1px solid #80808021;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.divcard div:hover {
  transform: translateY(-15px);
  transition: transform 0.4s;
}

img {
  width: -webkit-fill-available;
}

.divcard h3 {
  font-weight: 500;
  margin: 15px;
}

.divcard button {
  color: #cf3fdf;
  font-size: 18px;
  border: none;
  padding: 5px 18px;
  margin-bottom: 7px;
  cursor: pointer;
}
